[Unit]
Description=MPWRD Wi-Fi Mesh Sync
After=network-online.target meshtasticd.service
Wants=network-online.target meshtasticd.service

[Service]
Type=simple
ExecStart=/usr/bin/env mpwrd-config wifi-mesh run
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
