[Unit]
Description=MPWRD Config Web UI
After=network-online.target
Wants=network-online.target
Requires=mpwrd-config-web.socket

[Service]
Type=simple
ExecStartPre=/opt/mpwrd-config/pipx/venvs/mpwrd-config/bin/python -c "from mpwrd_config.system import ensure_web_ssl; ensure_web_ssl()"
ExecStart=/opt/mpwrd-config/pipx/venvs/mpwrd-config/bin/python -m uvicorn mpwrd_config.web:app --fd 3 --proxy-headers --ssl-keyfile /etc/ssl/private/mpwrd-config-web.key --ssl-certfile /etc/ssl/certs/mpwrd-config-web.crt
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
