Source: mpwrd-config
Section: admin
Priority: optional
Maintainer: Ruledo <ruledo707@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), python3, python3-build, python3-setuptools, python3-wheel
Standards-Version: 4.6.2
Homepage: https://github.com/Ruledo/mpwrd-config

Package: mpwrd-config
Architecture: all
Depends: ${misc:Depends}, python3, python3-venv, pipx, qrencode, python3-protobuf
Provides: femto-config
Conflicts: femto-config
Replaces: femto-config
Description: MPWRD configuration tooling
 MPWRD configuration tooling (Python-first, KISS).
