name: Release Python Package (Poetry)

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  release-py:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: python -m pip install --upgrade pip poetry

      - name: Install dependencies
        run: poetry install --no-interaction --no-root

      - name: Build package
        run: poetry build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mpwrd-config
          path: dist/*

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
